.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 24px;
  background-color: #DCE3E7 ; /* Fundo branco deixa o logo verde em destaque */
  border-bottom: 1px solid #e0e0e0;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05); /* leve sombra */
  position: sticky;
  top: 0;
  z-index: 1000;
}

.logo-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo {
  height: 40px; /* ou o tamanho desejado */
  width: 40px; /* ou o tamanho desejado */
  margin-right: 1rem;
  cursor: pointer;
}

.header-title {
  font-size: 1.4rem;
  font-weight: 600;
  color: #00796b; /* verde do sistema */
  letter-spacing: -0.5px;
}

.profile-icon {
  cursor: pointer;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  background-color: #00796b; /* Cor de fundo para o círculo */
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff; /* Cor do texto */
  font-size: 1.5rem;
  font-weight: bold;
}

.profile-initials {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.profile-icon:hover {
  transform: scale(1.1);
}

.profile-picture {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #00796b; /* verde do sistema */
}
